body{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    margin:0px;
    padding: 0px;
}
.header-list{
  list-style: none;
  margin:0px;
  display: flex;
  line-height: 20px;  
}
.header-list li{
    padding: 0 14px;
    border-right: 1px solid #ccc;
    
}
.header-list li:nth-of-type(2) a:nth-of-type(2){
    color: red;
    padding: 0px 0 0 6px;
}
.header-list li:nth-of-type(6) a:nth-of-type(1){
    color: red;
}
.header-list li:nth-of-type(2){
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-list li:first-of-type{
    padding: 0px 150px 0px 70px;
    border-right: none;
}
.header-list li:last-of-type{
    border-right:none;
    padding: 0 0 0 10px;
}
/*头部的样式以及头部div的样式*/
header{
    width: auto;
    background: #e3e4e5;
    font-size: 12px;
}
header div{
    margin: 0px 0px 0px 75px;
    padding: 5px 0px;
    
}
.header-list a{
    text-decoration: none;
    color: #999;
}
.header a:hover{
    color: red;
}
a{
    text-decoration: none;
}
nav{
    height: 140px;
    padding: 0px;
    border: 1px solid #ccc;
}
.nav{
    font-weight: 100;
    font-size: 12px;
    margin: 28px auto;
    display: flex;
    justify-content: center;
}
.nav_img{
    width:190px;
    height: 120px;
    border:1px solid #ccc;
    margin-right: 20px;
    margin-top:-14px;
}
.nav_right{
    width: 780px;
    border: 1px solid #ccc;
}
.nav_list{
    display: flex;
}
.nav input{
    width: 430px;
    height: 30px;
    margin: -2px -2px 0 0;
    border: 2px solid #e1251b;
    outline: #e1251b;
    
}
.nav_list li:nth-of-type(2){
    margin-top: -2px;
    background-color: #e1251b;
}
.nav_list li button{
    color: white;
    background:#e1251b;
    border: none;
    width: 58px;
    height: 32px;
}
.container_box{
    display: flex;
    justify-content: center;
    background: white;
    width: auto;
    height: 480px;
    margin-bottom: 30px;
}
.container_left{
    width: 190px;
    height: 450px;
    padding: 10px 0;
    margin: 10px 0 0 0 ;
    border: 1px solid #ccc;
}
.container_center{
    margin:10px;
    width: 590px;
    height: 470px;
    border: 1px solid #ccc;
}
.container_right{
    width: 190px;
    height: 480px;
    
}
.container_left_list{
    padding: 0;
    margin: 0;
}
.container_left_list li{
    font:14px/25px "@微软雅黑";
    padding:0 0 0 18px;
}
.container_left_list a{
    color:black;
}
.container_left_list a:hover{
    color: red;
}
.container_left_list li:hover{
    background: #ccc;
}
.news_user_plus{
    margin-top:10px;
    border: 1px solid #ccc;
    height: 102px;
    width: 190px;
}
.news_center{
    width: 190px;
    height: 130px;
    border: 1px solid #ccc;
}
.news_bottom{
    width: 190px;
    padding-top:5px;
    height: 225px;
    border: 1px solid #ccc;
}
.seckill{
    display: flex;
    height: 260px;
    width: auto;
    justify-content: center;
}
.seckill_left{
    height: 260px;
    border: 1px solid #ccc;
    width: 190px;
}
.seckill_center{
    width: 610px;
    height: 260px;
    border: 1px solid #ccc;
}
.seckill_list{
    list-style: none;
    display: flex;
}
.seckill_right{
    width: 170px;
    height: 240px;
    padding: 10px;
    border: 1px solid #ccc;
}
.special_offer{
    display: flex;
    justify-content: center;
    margin-top:26px;
}
.so_left{
    width: 490px;
    height: 330px;
    border:1px solid #ccc;
    margin-right: 5px;
}
.so_right{
    width: 490px;
    height: 330px;
    border:1px solid #ccc;
    margin-left: 5px;
}
.find_goods{
    display: flex;
    justify-content: center;
    margin-top:26px;
}
.fg_left{
    width: 190px;
    height: 260px;
    border:1px solid #ccc;
    margin-right: 5px;
}
.fg_right{
    width: 790px;
    height: 260px;
    border:1px solid #ccc;
    margin-left: 5px;
}
.j_core2{
    display: flex;
    justify-content: center;
    margin-top:26px;
}
.news_top{
    width: 240px;
    height: 305px;
    border:1px solid #ccc;
    margin-right:  10px;
}
.news_top:nth-of-type(4){
    margin-right: 0px;
}
.channel{
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
.square{
    display: flex;
    width: 990px;
    margin: 0px auto;
    height: 790px;
    border:1px solid #ccc;
}
.recommend{
    width: 990px;
    height: 9800px;
    margin:20px auto;
    border:1px solid #ccc;
}
.re_top{
    width: 100%;
    margin: 0 auto 20px;
    text-align:center;
}
.re_nav{
    width: 990px;
    height: 60px;
    border:1px solid #ccc;
}
.re_nav_list{
    display: flex;
}
.re_nav_list li{
    margin: 0px 35px;
    text-align: center;
    display: inline;
}
.re_nav_list a:nth-of-type(1){
    color: black;
    display: block;
    font-size: 15px;
    margin-top: -10px;
}
.re_nav_list span{
    display: block;
    margin-top: -15px;
    color: #999;
    font-size: 14px;
}
.re_nav_list span:hover{
    color:red;
}
.re_nav_list li:nth-of-type(1) a:nth-of-type(1){
    width: 80px;
    height: 27px;
    color: white;
    background: red;
    border-radius: 45rem;
}
.re_nav_list li:nth-of-type(1) span:nth-of-type(2)
{
    color: red;
}
.re_nav_list li:nth-of-type(1){
    margin-left: 80px;
   
}
.re_nav_list li:nth-of-type(2n){
    width: 1px;
    height: 40px;
    margin: 10px 0;
    background-color: #ccc;
}