
    *{
          margin:0px;
            padding:0px
        }
        .content{
            width: 35%;
            margin:0 auto;
            background: rgb(47, 49, 49);
        }
        .list{
            display: flex;
            list-style: none;
            margin:5px 5px 0
        }
        .list li{
            margin:10px 20px;
        }
        .list li:nth-child(2){
            font-size:12px;
            text-align: center;
            width: 200px;
            padding: 6px;
            background: black;
            color: white;
            
        }
        .sum{
            display: inline-block;
            width: 26px;
        }
        .reduce,.increase{
            padding: 3px 13px;
            border: 2px solid white;
            background: rgb(47, 49, 49);
            color: white;
        }
        .quantity{
            display: inline-block;
            text-align: center;
            width: 40px;
            line-height: 28px;
            background: white;
            color: black;
        } 
        .result_list{
            list-style: none;
            margin:0 5px
        }
        .result{
            width: 35%;
            font-size: 12px;
            margin:auto;
            color: white;
            background: rgb(34, 34, 34);
        }
        .result_list li{
            padding: 20px 30px;
        }
        .quantitys,.spend,.spendmax{
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 20px;
            line-height: 20px;
            background: white;
            color: black;
            margin: 0px 5px;
        }